
body {
    background: rgb(12, 0, 36);
    font-size: 20px;
    font-family: cursive;
    overflow-y: scroll;
    overflow-x: hidden;

}
h1 {
font-size: 50px;
background: -webkit-linear-gradient(rgb(255, 0, 106), rgb(79, 0, 116));
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.content {
    background-color: rgba(221, 163, 255, 0.904);
    color: rgb(40, 0, 56);
    font-size: 30px;
    
}
.main {
    position : absolute;
    padding: 7%;
    width: 92%;
    height: 90%;
}
hr{
    height: 5px;
    background-color: rgba(17, 0, 36, 0.849);
    border: none;
}
#myVideo {
    padding: 0%;
    position:fixed;
    top: 0%;
    bottom: 0%;
    max-width:100%;
    min-height:100%;
}
@media screen and (max-width: 770px) {
    body{
    overflow-y: scroll;
    overflow-x: hidden;
    }
    .main {
        position : absolute;
        padding: 7%;
        width: 92%;
        height: 100%;
    }
    #myVideo
    {
    position: fixed;
    max-width:800%;
    max-height:100%;
    top: 0%;
    bottom: 0%;
    
    }
}